*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  padding: 32px 0;
  background-image: url(./bg.jpg);
  background-position: top center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #121214;
  display: flex;
  gap: 32px;
  flex-direction: column;
  align-items: center;
}

header div{
  padding: 4px;
  width: 100px;
  display: flex;
  border-radius: 50%;
  background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50%, #E2D45C 100%);
  transition: transform .3s;
}

header div:hover{
  transform: scale(1.1);
}

header img{
  width: 100%;
  border-radius: 50%;
}


main{
  max-width: 580px;
  width: 90%;
  display: grid;
  gap: 24px;
  font-family: 'Inter', sans-serif;
}

main section{
  padding-top: 4px;
  border-radius: 10px;
  background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50%, #E2D45C 100%);
}

main div{
  padding: 28px 32px 32px;
  border-radius: 8px;
  background-color: #2A2634;
}

ul{
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  list-style: none;
}

ul li{
  transition: transform .3s;
}

ul li:hover{
  transform: scale(1.1);
}

.card-games img{
  width: 90px;
  border-radius: 8px;
}

.card-streamers img{
  width: 70px;
  border: 1px solid #443E54;
  border-radius: 50%;
}

main div h2{
  font-weight: 900;
  line-height: 38px;
  color: #fff;
}

main div p{
  line-height: 26px;
  letter-spacing: -0.18px;
  color: #a1a1aa;
}


/*
Animations 
*/

header{
  animation: fromTop 0.5s .2s backwards;
}

main section{
  animation: fromTop 0.5s backwards;
}

main section:nth-child(1){
  animation-delay: .4s;
}

main section:nth-child(2){
  animation-delay: .6s;
}

main section:nth-child(3){
  animation-delay: .8s;
}

@keyframes fromTop {
  from{
    opacity: 0;
    transform: translateY(-20px);
  }

  to{
    opacity: 1;
    transform: translateY(0);
  }
}

